{% extends 'layout-admin.html.twig' %}

{# warning card, pour mettre les notifs de demande #}

{% block content %}
{% block card %}
{% endblock card %}
<div class="col-xl-2 col-md-4 my-4">
	{% block linkAdd %}{% endblock %}


</div>
<div class="card mb-4">

{% block tableHeader %}
	<div class="card-header">
		<i class="fas fa-table me-1"></i>
	</div>
	{% endblock %}
	<div class="card-body">
		<table id="datatablesSimple">
			{% block table %}{% endblock %}
			</tbody>
		</table>
	</div>
</div>

{% block contentfooter %}
{% endblock %}
{% endblock %}

