@import "../abstract/variable";


section.bgimage.banner-home{

  @media (max-width: 992px) {
    min-height: 60vh;
    height: auto;
  }
}
section.bgimage {
    height: 40vh;
    margin-top: 65px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.1) 40%,
        rgba(0, 0, 0, 0.68) 62%,
        rgba(0, 0, 0, 0.8)
      ),
      url("../../images/Agriculture-biologique-notre-avenir.jpg");
    @media (min-width: 1024px) {
      height: 85vh;
    }
    margin-top: 0px;
    @media (max-width: 992px) {
      padding-top: 120px;
      padding-bottom: 50px;
    }
    

    div.container {
      height: 100%;
      div.row {
        height: 100%;
        h1 {
          font-weight: 700;
          color: white;
          @media (min-width: 1024px) {
            font-size: 4em;
          }
        }
        p {
          font-weight: 600;
          font-size: 16px;
          color: $gris-clair;
          padding: 25px 0;
        }
      }
    }
  }
section.banner-radius{
    background-image: linear-gradient( rgba(0, 0, 0, 0.68) 100%, rgba(0, 0, 0, 0.68) 100%),
      url("../../images/Vache-lait-viande-locavor.jpg") !important;
      border-radius: 15px;
      @media (min-width: 992px) {
        margin: 20px 20px 15px 45px;
      }
}  

.banner-epi{
  margin-top: 20px;
  border-radius: 130px 0 130px 0;
}

section.banniere{
    h2.large{
        font-size: 4rem;
        color: $noir;
        font-weight: 600;

    }
    .container-img{
        img.photo-profil{
            border-radius: 15px;
        }
        .content-form{
            margin-top: -60px;
        }
    }
}