@import "../abstract/variable";

footer {
  background-color: $noir;
  padding-top: 50px;
  .contenu-footer {
    padding-bottom: 47px;

    h6 {
      color: $gris-clair;
    }
    .bi {
      color: $vert1;
    }
    div.contact {
      .bi {
        padding-right: 10px;
      }
      p {
        color: $gris;
        font-size: 14px;
      }
    }
    div.page {
      a,
      p {
        color: $vert1;
        font-size: 14px;
      }
      a {
        text-decoration: none;
      }
    }
  }
  div.copyright {
    background-color: hsl(13, 44%, 6%);
    color: $gris-fonce;
  }
}
header{
  padding-bottom: 1px !important;
}