<h1>Bonjour {{ username }} votre profil à été mis a jour</h1>
<p>Vous pouvez vous rendre sur votre espace pour visualiser votre profil</p>
<p><a href="{{ absolute_url(path('attAgri.admin')) }}">Voir profil</a></p>
